@model IEnumerable<WebUI.Models.JobModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome from the app Web UI</h1>
    <p>Message: "@ViewBag.Message"</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-left">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(model => model.JobType)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Started)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.JobType)</td>
                    <td>@Html.DisplayFor(modelItem => item.Started)</td>
                </tr>
            }
        </tbody>
    </table>
</div>